@using MvcCv.Models.Entity;
@model List<TBLSkill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/About/Index.cshtml";
}
@{string renk = ""; }


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Simple Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
       
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
     
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Simple Tables</h1>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Bordered Table</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Task</th>

                                        <th>Definition</th>
                                        <th>Progress</th>
                                        <th style="width: 40px">Ratio</th>
                                        <th style="width: 40px">Düzenle</th>
                                        <th style="width: 40px">Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        if (item.oran >= 0 && item.oran <= 50)
                                        {
                                            renk = "progress-bar bg-danger";
                                        }
                                        if (item.oran >= 51 && item.oran <= 70)
                                        {
                                            renk = "progress-bar bg-warning";
                                        }
                                        if (item.oran >= 71 && item.oran <= 84)
                                        {
                                            renk = "progress-bar bg-primary";
                                        }
                                        if (item.oran >= 85 && item.oran <= 100)
                                        {
                                            renk = "progress-bar bg-success";
                                        }
                                        <tr>

                                            <td>@item.ID</td>
                                            <td>@item.Skill</td>

                                            <td>@item.acıklama</td>
                                            <td>
                                                <div class="progress progress-xs">
                                                    <div class="@renk" style="width: @item.oran%"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge @renk">@item.oran %</span></td>
                                            <td class="project-actions text-right">

                                                <a class="btn btn-info btn-sm" href="/Yetenek/YetenekGetir/@item.ID">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Edit
                                                </a></td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="/Yetenek/DeleteSkill/@item.ID">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Delete
                                                </a>
                                            </td>
                                                
</tr>}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>    <div>
                    <a href="/Yetenek/AddSkill" class="btn btn-info">Yetenek Ekle</a>
                </div>
                <!-- /.col -->
            </section>
            <!-- /.card -->
            <div class="card">

                <!-- /.card-header -->
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    
                    <!-- /.row -->
                   
                    <!-- /.row -->
        
        <!-- /.content-wrapper -->
      
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
  
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>
